{{ define "main" -}}
  <script src="https://tfpb.techforpalestine.org/lib/banner.min.js"></script>
  <script>
    TFPBanner.create({
      theme: "auto",
      fixed: false,
    });
  </script>
<div class="post">
    {{ with .Site.GetPage "/about/about" }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{ .Content }}
    {{ end }}
</div>
{{- end }}
{{ define "sidebar" }}
    {{ with .Site.GetPage "/about/about" }}
        {{ partial "table_of_contents.html" . }}
    {{ end }}
{{ end }}
